<form [formGroup]="form">
    <div class="row">
        <label for="task-title">Title</label>
        <input id="task-title" type="text" formControlName="title" />
    </div>
    <div class="row">
        <label for="task-description">Description</label>
        <textarea id="task-description" rows="2" formControlName="description"></textarea>
    </div>
    <div class="row">
        <label for="task-due-date">Due Date</label>
        <input id="task-due-date" type="datetime-local" formControlName="dueDate"/>
    </div>
    @if (isEditable()) {
    <p class="form-error">
        @if (titleInvalid) {
            Title cannot be empty or longer than 100 characters
        } @else if (descriptionInvalid) {
            Description longer than 1000 characters
        } @else if (dueDateInvalid) {
            Due Date cannot be a past date
        }
    </p>
    } @else {
        <p class="date-info">
            Created: {{ task().creationDate }}
            <br>
            Last Modified: {{ task().modificationDate }}
        </p>
    }
    <p class="actions">
        <button (click)="onLeftButtonClick()">
            @if (isEditable()) {
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                    <path d="M840-680v480q0 33-23.5 56.5T760-120H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h480l160 160Zm-80 34L646-760H200v560h560v-446ZM480-240q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM240-560h360v-160H240v160Zm-40-86v446-560 114Z"/>
                </svg>
            } @else {
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                    <path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/>
                </svg>
            }
        </button>
        <button (click)="onRightButtonClick()">
            @if (isEditable()) {
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                    <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                </svg>
            } @else {
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                    <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                </svg>
            }
        </button>
    </p>
</form>

